@model Role
@{
    ViewData["Title"] = "افزودن نقش ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12">
    <div class="card-box">


        <form asp-action="Add" method="post">

            <div class="form-group">
                <label asp-for="RoleTitle" for="title"> </label>
                <input asp-for="RoleTitle" type="text" parsley-trigger="change" placeholder=" عنوان نقش را وارد کنید" class="form-control" id="title" data-parsley-id="4">
                <span asp-validation-for="RoleTitle" class="text-danger"></span>
            </div>

 

     


            <div class="form-group text-right m-b-0">
                <button class="btn btn-primary waves-effect waves-light" type="submit">
                    ثبت اطلاعات
                </button>
                <a asp-action="Index" class="btn btn-default waves-effect waves-light m-l-5">
                    لغو
                </a>
            </div>

        </form>
    </div>
</div>

