@model RolePermission
@{
    ViewData["Title"] = $"ویرایش: ' {Model.Permission.PermissionTitle} ' برای {Model.Role.RoleTitle}     ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<span class="text-purple">@ViewData["Title"]</span>
<div class="col-lg-12">
    <div class="card-box">

        <form asp-action="Edit" method="post">
            <input hidden asp-for="RolePermissionId" />

         
            <div class="form-group">
                <label asp-for="RoleId" for="title"> نقش ها </label>
                <select asp-for="RoleId" asp-items="@ViewBag.Role" class="form-control"><</select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>

                <div class="form-group">
                <label asp-for="PermissionId" for="title"> نقش ها </label>
                <select asp-for="PermissionId" asp-items="@ViewBag.Permission" class="form-control"><</select>
                <span asp-validation-for="PermissionId" class="text-danger"></span>
            </div>






            <div class="form-group text-right m-b-0">
                <button class="btn btn-primary waves-effect waves-light" type="submit">
                    ثبت اطلاعات
                </button>
                <a asp-action="Index" class="btn btn-default waves-effect waves-light m-l-5">
                    لغو
                </a>
            </div>

        </form>
    </div>
</div>

