@model User
@{
    Layout = null;
}


<div>
    <h3>بازیابی کلمه عبور</h3>
    <h4>برای بازیابی کلمه عبور روی لینک زیر کلیک کنید</h4>
    <a href="https://localhost:44366/Account/ForgotPasword/@Model.UserId/@Model.ActiveCode">بازیابی کلمه عبور</a>
    
</div>