@model ProductPrice
@{
    ViewData["Title"] = $" حذف محصول ";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-lg-3"></div>

<div class="col-lg-6">
    <div class="card-box p-30">
        <p class="font-bold">
            آیا میخواهید این <strong class="text-danger"> قیمت محصول  </strong>  حذف شود؟
        </p>

        <form asp-action="DeletePrice">

            <input asp-for="PriceId" type="hidden" />
        

            <div class="form-group text-right m-b-0">
                <button class="btn btn-primary waves-effect waves-light" type="submit">
                    حذف
                </button>
                <a asp-action="Index" class="btn btn-default waves-effect waves-light m-l-5">
                    لغو
                </a>
            </div>

        </form>
    </div>
</div>

<div class="col-lg-3"></div>

