        <!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="/AdminPanel/assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="#">علی یدالهی</a> </h5>
            <ul class="list-inline">
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-settings"></i>
                    </a>
                </li>

                <li>
                    <a href="/" class="text-custom">
                        <i class="zmdi zmdi-home"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>

                <li>
                    <a href="/Admin/DashbordAdmin" class="waves-effect active"><i class="zmdi zmdi-view-dashboard"></i> <span> داشبورد </span> </a>
                </li>

                <li>
                    <a href="/Admin/Slider/Index" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> نمایش اسلایدر </span> </a>
                </li>
                <li>
                    <a href="/Admin/Category/Index" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> نمایش دسته بندی </span> </a>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span>محصولات  </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="/Admin/Product/Index">نمایش محصولات</a></li>
                        <li><a href="/Admin/Brand/Index">نمایش برند</a></li>
                        <li><a href="/Admin/Guarantee/Index">نمایش گارانتی</a></li>
                        <li><a href="/Admin/Property/Index">نمایش خصوصیات</a></li>
                        <li><a href="/Admin/ProductColor/Index">نمایش رنگها</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/Admin/ImageAdvertise/Index" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> نمایش تصاویر تبلیغاتی </span> </a>
                </li>
                <li>
                    <a href="/Admin/DisCount/Index" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> نمایش کد تخفیف  </span> </a>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span> نمایش آدرس </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="/Admin/Province/Index">استان ها</a></li>
                        <li><a href="/Admin/City/Index">شهرها</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="#" class="waves-effect"><i class="zmdi zmdi-view-dashboard"></i> <span>  مدیریت و کاربران </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li><a href="/Admin/Role/Index">نقش ها</a></li>
                        <li><a href="/Admin/User/Index">کاربران</a></li>
                        <li><a href="/Admin/UserRole/Index">نقش های کاربران  </a></li>
                        <li><a href="/Admin/Permission/Index"> دسترسی ها </a></li>
                        <li><a href="/Admin/RolePermission/Index"> دسترسی های نقش ها </a></li>

                    </ul>
                </li>  
    

            </ul>

            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>
<!-- Left Sidebar End -->