
@model ImageAdvertise


@if (Model != null)
{
<div class="col-12">
    <a href="#" class="adplacement-item mb-4">
        <div class="adplacement-sponsored_box">
                <img src="/Site/assets/images/@Model.ImageAdvertise_Image" alt="@Model.ImageAdvertise_Title">
        </div>
    </a>
</div>
}